<!-- <div *ngFor="let order of orders">
    <h2 *ngFor="let item of order.products">{{item.name}} {{item.price}}</h2>
</div> -->


<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container">
        <a href="#" [routerLink]="['']" class="navbar-brand">Shop Here</a>
        <h4 class="nav-item text-light ml-auto">Wallet : {{balance}}</h4>
    </div>
</nav>

<div *ngIf="orders.length==0" class="container text-center">
    <h1>No Orders Placed :(</h1>
</div>
<div class="container" style="width: 30vw;margin-top: 2vw;">
    <h1 *ngIf="orders.length!=0" style="text-align: center;">Your Orders</h1>
    <ul>
        <ul style="margin-bottom: 2vw;" *ngFor="let order of orders" class="list-group">
            <li class="list-group-item">
                <div *ngFor="let product of order.products" class="">

                    <h3 >{{product.name}}</h3>
                    <p>price : {{product.price}}/-</p>
    
                    
                </div>
            </li>
            

            
            <!-- <div class="d-flex">
                
                <a (click)="deleteItem(cartItem)" class="badge badge-pill badge-danger">delete</a>
            </div> -->
        </ul>
    </ul>    

</div>


<!-- <a>
    <div class="d-flex" style="position: fixed;bottom: 2vw;right: 2vw;">
        <div class="badge badge-primary "><h3 class="text-light">{{cartItemsCount}}</h3></div>
        <div class="badge badge-info"><h3>Cart</h3></div>
        <div style="margin-left: 2vw;" (click)="placeOrder()" [routerLink]="['/order-component']" class="badge badge-success "><h3>Place Order</h3></div>
    </div>
</a> -->





